<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col-4 col-md-6 col-sm-8">
            <form [formGroup]="atividadeForm">

                <label>Descrição</label>
                <input class="form-control mb-3" formControlName="descricao" type="text">

                <label>Dica de preenchimento</label>
                <input class="form-control mb-3" formControlName="dicapreenchimento" type="text">

                <label>Fator</label>
                <input class="form-control mb-3" formControlName="fator" type="text">

                <label>Permite lançamentos multiplos</label>
                <select class="custom-select mb-3" formControlName="permitelancamentos" name="select">

                    <option [value]="1">
                        Sim
                    </option>
                    <option [value]="0">
                        Não
                    </option>
                </select><br>

                <label>Quantidade máxima</label>
                <input class="form-control mb-3" formControlName="qtdemaxima" type="text">

                <label>Unidade da atividade</label>
                <select class="form-control" formControlName="unidadeAtividade" id="unidadeatividade">
                    <option *ngFor="let unidade of unidadeAtividadeList" [ngValue]="unidade.getName()">
                        {{ unidade.getDescricao() }}</option>
                </select>
                <br/>
                <label>Categoria da atividade</label>

                <select class="custom-select mb-3" formControlName="categoria" name="select">

                    <option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{categoria.descricao}}
                    </option>

                </select>
                <br/>
                <label> É subatividade?</label>
                <select class="custom-select mb-3" formControlName="isSubAtividade" name="selectsub">

                    <option [value]="1">
                        Sim
                    </option>
                    <option [value]="0">
                        Não
                    </option>
                </select><br>

                <button (click)="salvar()" class="btn btn-success btn-sm">
                    Salvar
                </button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar</button>

                <br/>
                <hr/>
                <br/>


                <h5>Gerenciar vínculos entre atividades e subatividades</h5>
                <br/>

                <ul class="nav nav-tabs mb-4" id="abaVinculo" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#primeira"
                           id="vincular-tab" role="tab">Vincular atividade e subatividade</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#segunda"
                           id="desvincular-tab" role="tab"> Remover subatividade de atividade </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="primeira" role="tabpanel">

                        <label class="atividadeVinculo">Selecione uma atividade </label>

                        <select class="atividadeVinculo custom-select mb-3" formControlName="atividadeVinculo"
                                name="select">

                            <option *ngFor="let at of atividadesNaoSub" [value]="at.id">
                                {{at.descricao}}
                            </option>

                        </select><br>

                        <label class="subAtividadeVinculo">Selecione uma subatividade</label>
                        <select class="subAtividadeVinculo custom-select mb-3" formControlName="subAtividadeVinculo"
                                name="select">

                            <option *ngFor="let sub of subAtividades" [value]="sub.id">
                                {{sub.descricao}}
                            </option>

                        </select><br>
                        <button (click)="vincularAtividades()" class="btn btn-success btn-sm">
                            Atribuir subatividade
                        </button>
                        &nbsp;<button (click)="limparCamposVinculo()" class="btn btn-danger btn-sm">
                        Cancelar
                    </button>
                    </div>

                    <!-- DESVINCULAR ==================================== -->

                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="segunda" role="tabpanel">
                        <label class="atividadeVinculo">Selecione uma atividade </label>

                        <select class="atividadeVinculo custom-select mb-3" formControlName="atividadeDesfazerVinculo"
                                name="select">

                            <option *ngFor="let at of atividadesComSubAtividades" [value]="at.id">
                                {{at.descricao}}
                            </option>
                        </select>
                        <button (click)="buscarSubRelacionadas()" class="btn btn-success btn-sm mb-3">Confirmar</button>
                        <br>
                        <label class="subAtividadeVinculo">Selecione uma subatividade para remover</label>
                        <select class="subAtividadeVinculo custom-select mb-3" formControlName="subAtividadeDesfazerVinculo"
                                name="select">

                            <option *ngFor="let sub of subAtividadesParaRemocao" [value]="sub.id">
                                {{sub.descricao}}
                            </option>

                        </select><br>
                        <button (click)="desvincularAtividades()" class="btn btn-success btn-sm">
                            Remover subatividade
                        </button>
                        &nbsp;<button (click)="limparCamposDesvinculo()" class="btn btn-danger btn-sm">
                        Cancelar
                    </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br/>
    <br/>
    <hr>
    <div class="row">
        <div class="col col-4">
            <input [(ngModel)]="descricaoBusca" class="form-control" placeholder="Descrição" type="text">
        </div>
        <div class="col col-1">
            <button (click)="buscarDados()" class="btn btn-sm btn-primary botao-pit" id="botao-busca">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 table-atividades">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Dica</th>
                    <th scope="col">Fator</th>
                    <th scope="col">Lançamentos multiplos</th>
                    <th scope="col">Quantidade máxima</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">É subatividade</th>
                    <th scope="col">Possui subatividades</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let atividade of atividades">
                    <td>{{ atividade.descricao }}</td>
                    <td> {{atividade.dicaPreenchimento}} </td>
                    <td> {{atividade.fator}} </td>
                    <td> {{atividade.permiteLancamentoMultiplos ? 'Sim' : 'Não'}} </td>
                    <td> {{atividade.qtdMax}} </td>
                    <td> {{atividade.unidadeAtividade}} </td>
                    <td> {{atividade.categoria.descricao}} </td>
                    <td> {{atividade.subAtividade ? 'Sim' : 'Não'}} </td>
                    <td>{{atividade.subAtividadeList.length}}</td>
                    <td align="center">
                        <button (click)="editar(atividade)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(atividade)"
                                class="btn btn-danger btn-sm botao-pit">Excluir
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)" [rowsPerPageOptions]="[5,15,20]" [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas">
            </p-paginator>
        </div>
    </div>


</div>
