.formulario {
    margin: 2rem;
}

.my-custom-scrollbar {
    position: relative;
    height: 22em;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-atividades {
    background-color: #fffafa;
    border-color: #33313b;
    margin-top: 0.8rem;
}

.col-acoes {
    width: 180px;
}

a.nav-link {
    color: #212529;
}

a.nav-link.active {
    color: #007BFF;
}
