<main class="corpo-app">
    <div *ngIf="esconderCabecalhoERodape">
        <pit-topo></pit-topo>
    </div>
    <p-toast></p-toast>
    <div>
        <router-outlet></router-outlet>
    </div>
</main>
<div *ngIf="esconderCabecalhoERodape">
    <pit-rodape></pit-rodape>
</div>
