$infoMessageBgColor: #7fbcec;
$infoMessageBorder: 0 none;
$infoMessageTextColor: #212121;
$infoMessageIconColor: #212121;
$successMessageBgColor: #b7d8b7;
$successMessageBorder: 0 none;
$successMessageTextColor: #212121;
$successMessageIconColor: #212121;
$warnMessageBgColor: #ffe399;
$warnMessageBorder: 0 none;
$warnMessageTextColor: #212121;
$warnMessageIconColor: #212121;
$errorMessageBgColor: #f8b7bd;
$errorMessageBorder: 0 none;
$errorMessageTextColor: #212121;
$errorMessageIconColor: #212121;
