// Variaveis Globais

$cor-vermelho-escuro: #834c69;
$cor-preto: #33313b;
$cor-primaria: #113f67;
$cor-secundaria: #34699a;
$cor-fundo: rgba(242, 242, 242, 0.67);
$cor-ui: #408ab4;
$cor-azul-marinho: #3c4f65;
$cor-ui-2: #65c6c4;
$cor-titulo-adm: #33313b;
