<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="grupoAtividadeForm">
                <label>Descrição</label>
                <input class="form-control" formControlName="descricao" type="text"><br>
                <label>Ordem</label>
                <input class="form-control" formControlName="ordem" type="text"><br>
                <button (click)="salvar()" class="btn btn-success btn-sm">Salvar</button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm">Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-grupo-atividade">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ordem</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gra of grupoAtividades">
                    <td>{{gra.descricao}}</td>
                    <td>{{gra.ordem}}</td>
                    <td align="center">
                        <button (click)="editar(gra)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(gra)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChenge)="paginar($event)" [rowsPerPageOptions]="[5,15,20]" [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas"></p-paginator>
        </div>
    </div>
</div>
