$cor-grupo: #486076;

.titulo-grupo-tabela {
    background: $cor-grupo;
    color: white;
    padding: 5px;
}

.painel-justificativa {
    min-height: 30em;
    background-color: #dadddf;
    border-radius: 0.6em;
}
