<div class="painel-justificativa">
    <div align="center" class="titulo-grupo-tabela">
        <h4>Justificativas</h4>
    </div>
    <pit-justificativa-ensino-view
        [cursos]="cursos"
        [planoDeTrabalho]="planoDeTrabalho"
    >
    </pit-justificativa-ensino-view>
</div>
