.corpo-home {
    height: 30em;
    margin: 20px;
    background-color: #dadddf;
}

.btn-menu-home {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-link-pit {
    text-decoration: none;
}

.menu-home {
    background-color: #607b93;
    height: 5em;
}

.tabela {
    background-color: #eeeeee;
}

.my-custom-scrollbar {
    position: relative;
    height: 22em;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
