<div class="corpo-home">
    <div class="row">
        <div class="col-md-12 menu-home">
            <div class="row">
                <div class="col-4 col-md-2 col-sm-4">
                    <a [routerLink]="['/pit-view', 'novo']" class="btn-link-pit">
                        <button class="btn btn-dark btn-block btn-menu-home">
                            Novo PIT
                        </button>
                    </a>
                </div>
                <div class="col-4 col-md-2 col-sm-4">
                    <button class="btn btn-dark btn-block btn-menu-home">
                        <span>Opção 02</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 detalhe-home">
            <div class="text-lg-center">
                <h4>Ultimos Planos de Trabalho</h4>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-hover tabela table-responsive-sm mb-0">
                    <thead class="cabecalho-tabela">
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data de Envio</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let pit of listaPIT">
                        <td>PIT 2º Semestre</td>
                        <td>{{ pit.dataEnvio | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{ statusToString(pit.statusPtd) }}</td>
                        <td align="center">
                            <button [disabled]="false" class="btn btn-primary btn-sm botao-pit">Visualizar</button>
                            <button [disabled]="false" class="btn btn-primary btn-success btn-sm botao-pit ">Exibir histórido do PIT</button>
                            <button [disabled]="true" class="btn btn-warning btn-sm botao-pit">Editar</button>
                            <button [disabled]="true" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
