<p-toast></p-toast>
<div class="Categoria">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="categoriaAtividadeForm">
                <label for="descricao">Descrição</label>
                <input class="form-control" formControlName="descricao" id="descricao" type="text"><br>
                <label for="ordem">Ordem</label>
                <input class="form-control" formControlName="ordem" id="ordem" type="text"><br>
                <label for="GrupoAtividade"> Grupo Atividade</label>
                <select class="form-control" formControlName="grupoAtividade" id="grupoAtividade">
                    <option *ngFor="let grupoAtividade of grupoList" [ngValue]="grupoAtividade">{{grupoAtividade.descricao}}</option>
                </select>
                <br>
                <button (click)="salvar()" [disabled]="!categoriaAtividadeForm.valid" class="btn btn-success btn-sm">
                    Salvar
                </button>&nbsp;
                <button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar</button>
            </form>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col col-4">
            <input [(ngModel)]="descricaoBusca" class="form-control" placeholder="Descrição" type="text">
        </div>
        <div class="col col-1">
            <button (click)="buscarDados()" class="btn btn-sm btn-primary botao-pit" id="botao-busca">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-categoriaAtividade">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ordem</th>
                    <th scope="col">Grupo de Atividades</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let catAt of categoriaAtividade">
                    <td>{{catAt.descricao}}</td>
                    <td>{{catAt.ordem}}</td>
                    <td>{{catAt.grupoAtividade.descricao}}</td>
                    <td align="center">
                        <button (click)="editar(catAt)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(catAt)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)"
                         [rowsPerPageOptions]="[5,15,20]"
                         [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas">
            </p-paginator>
        </div>
    </div>
</div>
