.formulario {
    margin: 2rem;
}

.my-custom-scrollbar {
    position: relative;
    height: 10em;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.tabela-categoriaAtividade {
    background-color: #fffafa;
    border-color: #33313b;
    margin-top: 0.8rem;
}

.col-acoes {
    width: 180px;
}

.check {
    width: 31.4rem;
    height: 2.5em;
}

#botao-busca {
    margin-top: 4px;
    margin-left: -10px;
}
