<p-toast></p-toast>
<div class="formulario"></div>
<div class="row">
    <div class="col col-4">
        <form [formGroup]="avaliadorForm">
            <label for="descricao">Descrição</label>
            <input class="form-control mb-3" formControlName="descricao" id="descricao" type="text"><br>
            <label>Servidor</label>
            <select class="form-control mb-3" formControlName="servidor" name="select">
                <option *ngFor="let servidor of servidorList" [ngValue]="servidor"> {{servidor.nome}} </option>
            </select><br>
            <label>Campus</label>
            <select class="form-control mb-3" formControlName="campus" name="select">
                <option *ngFor="let campus of campusList" [ngValue]="campus">{{campus.nome}}</option>
            </select>
            <button (click)="salvar()" [disabled]="!avaliadorForm.valid" class="btn btn-success btn-sm"> Salvar </button>
            &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar </button>
        </form>
    </div>
</div>

<hr>
<div class="row">
    <div class="col col-4">
        <input [(ngModel)]="descricaoBusca" class="form-control" placeholder="Descrição" type="text">
    </div>
    <div class="col col-1">
        <button (click)="buscarDados()" class="btn btn-sm btn-primary botao-pit" id="botao-busca">Buscar</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col col-12">
        <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-departamento">
            <thead class="cabecalho-tabela">
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Servidor</th>
                <th scope="col">Campus</th>
                <th class="col-acoes" scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ava of avaliador">
                <td>{{ ava.descricao }}</td>
                <td>{{ ava.servidor.nome }}</td>
                <td>{{ava.campus.nome}}</td>
                <td align="center">
                    <button (click)="editar(ava)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                    <button (click)="excluir(ava)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>
        <p-paginator (onPageChange)="paginar($event)"
                     [rowsPerPageOptions]="[5,15,20]"
                     [rows]="linhasPorPagina"
                     [totalRecords]="qtdLinhas"
        >
        </p-paginator>
    </div>
</div>
