<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="servidorForm">
                <label>Nome</label>
                <input class="form-control" formControlName="nome" type="text"><br>
                <label> Email </label>
                <input class="form-control" formControlName="email" type="text"><br>
                <label>Telefone</label>
                <input class="form-control" formControlName="fone" type="text"><br>
                <label>Matrícula Siape (Login do usuário) </label>
                <input class="form-control" formControlName="matriculaSiape" type="text"><br>
                <label for="departamento">Departamento</label>
                <select class="form-control" formControlName="departamento" id="departamento">
                    <option *ngFor="let dep of departamentoList" [ngValue]="dep">{{dep.descricao}}</option>
                </select>
                <br><br>
                <label for="regimeTrabalho">Regime de trabalho</label>
                <select class="form-control" formControlName="regimeTrabalho" id="regimeTrabalho">
                    <option *ngFor="let tipo of regimeTrabalhoList" [ngValue]="tipo">{{ tipo.getDescricao() }}</option>
                </select>
                <br><br>
                <label for="tipoDeVinculo"> Tipo de Vinculo</label>
                <select class="form-control" formControlName="tipoDeVinculo" id="tipoDeVinculo">
                    <option *ngFor="let tipo of tipoDeVinculoList" [ngValue]="tipo">{{ tipo.getDescricao() }}</option>
                </select>
                <br><br>
                <label for="situacaoServidor">Situação Servidor </label>
                <select class="form-control" formControlName="situacaoServidor" id="situacaoServidor">
                    <option *ngFor="let tipo of situacaoServidorList" [ngValue]="tipo">{{ tipo.getDescricao() }}</option>
                </select>
                <br><br>
                <label for="perfilUsuario">Perfil do usuário</label>
                <select class="form-control" formControlName="perfilUsuario" id="perfilUsuario">
                    <option *ngFor="let perfil of perfilUsuarioList" [ngValue]="perfil">{{ perfil.getDescricao() }}</option>
                </select>
                <br><br>
                <button (click)="salvar()" [disabled]="!servidorForm.valid" class="btn btn-success btn-sm"> Salvar
                </button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div clas="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-servidor">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
<!--                    <th scope="col">Telefone</th>-->
                    <th scope="col">Matricula Siape</th>
                    <th scope="col">Regime de Trabalho</th>
                    <th scope="col">Tipo de Vinculo</th>
                    <th scope="col">Situação Servidor</th>
                    <th scope="col">Departamento</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let serv of servidores">
                    <td>{{serv.nome}}</td>
                    <td>{{serv.email}}</td>
<!--                    <td>{{serv.fone}}</td>-->
                    <td>{{serv.matriculaSiape}}</td>
                    <td>{{serv.regimeTrabalho.getDescricao()}}</td>
                    <td>{{serv.tipoDeVinculo.getDescricao()}}</td>
                    <td>{{serv.situacaoServidor.getDescricao()}}</td>
                    <td>{{serv.departamentoArea.descricao}}</td>
                    <td align="center">
                        <button (click)="editar(serv)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(serv)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)"
                         [rowsPerPageOptions]="[5,15,20]"
                         [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas"
            >
            </p-paginator>
        </div>
    </div>
</div>
