.formulario {
    margin: 2rem;
}

.my-custom-scorlbar {
    position: relative;
    height: 22em;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.tabela-servidor {
    background-color: #fffafa;
    border-color: #33313b;
    margin-top: 0.8rem;
}

.check {
    width: 31.4rem;
    height: 2.5em;
}

.col-acoes {
    width: 180px;
}
