<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="cursoForm">
                <label>Descrição</label>
                <input class="form-control mb-3" formControlName="descricao" type="text">
                <label>Departamento</label>
                <select class="custom-select mb-3" formControlName="departamento" name="select">

                    <option *ngFor="let departamento of departamentos" [value]="departamento.id">
                        {{departamento.descricao}}
                    </option>

                </select><br>
                <button (click)="salvar()" [disabled]="!cursoForm.valid" class="btn btn-success btn-sm"> Salvar</button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 table-cursos">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Departamento</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let curso of cursos">
                    <td>{{ curso.descricao }}</td>
                    <td>{{curso.departamentoArea.descricao}} </td>
                    <td align="center">
                        <button (click)="editar(curso)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(curso)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)"
                         [rowsPerPageOptions]="[5,15,20]"
                         [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas"
            >
            </p-paginator>
        </div>
    </div>
</div>
