<div class="cor-fundo">
    <div align="center" class="titulo-grupo-tabela">
        <h4>{{grupoAtividadeAtivo?.descricao}}</h4>
    </div>
    <div *ngFor="let categoria of grupoAtividadeAtivo?.categoriaAtividadeList">
        <table class="table table-bordered border-dark table-responsive-sm tabela-grupo-atividade">
            <thead>
            <tr align="center">
                <th colspan="6"><h5>{{ categoria?.descricao }}</h5></th>
            </tr>
            <tr class="linha-tabela">
                <th>Descrição</th>
                <th>{{ categoria.contemSubAtividade() ? 'Fator' : 'Max' }}</th>
                <th>Unidade</th>
                <th *ngIf="categoria?.isAtividadesComLancamentoMultiplo()">Carga Horária</th>
                <th>Quantidade</th>
                <th>CH obtida</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atividade of categoria?.getAtividadesList()">
                <td width="80%">{{ atividade?.descricao }}</td>
                <td *ngIf="!atividade.isSubAtividade" class="linha-tabela" width="5%">{{ atividade?.qtdMax }}</td>
                <!-- Caso seja uma sub-atividade exibe-se o campo para alterar o fator -->
                <td *ngIf="atividade.isSubAtividade" class="linha-tabela tabela-hover" width="5%">
                    <input
                        #inputFator
                        (keyup)="atualizarFatorAtividade(inputFator, atividade)"
                        [value]="atividade?.fator != undefined ? atividade?.fator : '' "
                        class="input-pit"
                        min="0"
                        type="number"
                    >
                </td>

                <td class="linha-tabela" width="7%">{{ atividade?.unidadeAtividade }}</td>
                <td *ngIf="atividade?.permiteLancamentoMultiplos" class="linha-tabela" width="5%">
                    <span *ngIf="atividade?.qtdMax <= 1"> {{atividade?.qtdMax}}</span>
                    <select
                        #inputSelect
                        (change)="atualizaLancamentoAtividade(inputSelect, atividade)"
                        *ngIf="atividade?.qtdMax > 1"
                        [value]="atividade?.qtdLancamento === undefined ? 1 : atividade?.qtdLancamento"
                        class="input-select-custom"
                    >
                        <option
                            *ngFor="let lancamento of atividade?.getLancamentos()"
                            [value]="lancamento"
                        >
                            {{lancamento}}
                        </option>
                    </select>
                </td>
                <td *ngIf="!atividade.isSubAtividade" class="tabela-hover linha-tabela">
                    <input
                        #input
                        (keyup)="atualizarCargaHoraria(input, atividade)"
                        [max]="atividade?.qtdMax"
                        [value]="atividade?.quantidade != undefined ? atividade?.quantidade > 0 ? atividade?.quantidade : '' : ''"
                        class="input-pit"
                        min="0"
                        type="number"
                    >
                </td>
                <td *ngIf="atividade.isSubAtividade" class="linha-tabela"> {{ atividade?.quantidade }}</td>
                <td class="linha-tabela"
                    width="4%">{{ atividade?.cargaHorariaObtida > 0 ? atividade?.cargaHorariaObtida : ''}}</td>
            </tr>
            <tr class="rodape-tabela">
                <td align="center">SUBTOTAL - HORAS</td>
                <td align="center" colspan="5">{{ categoria?.getSubtotal() }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div
        *ngIf="grupoAtividadeAtivo?.categoriaAtividadeList.length > 1"
        class="col col-12 rodape-grupo">
        <div align="center">
            TOTAL HORAS - {{grupoAtividadeAtivo?.descricao | uppercase}}
            =  {{ grupoAtividadeAtivo?.getCargaHorariaTotal() }}
        </div>
    </div>
</div>
