$cor-fundo: #d9d9d9;
$cor-fundo-col: #a8c0bd;
$cor-grupo: #486076;
$rodape-tabela: #607b93;

.input-pit {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    text-align: center;
    width: 100%;
    background: $cor-fundo;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cor-fundo {
    background: $cor-fundo;
}

.rodape-tabela {
    background: $rodape-tabela;
    color: white;
    font-weight: bold;
}

.titulo-grupo-tabela {
    background: $cor-grupo;
    color: white;
    padding: 5px;
}

.tabela-hover:hover {
    background: $cor-fundo-col;

    input {
        background: $cor-fundo-col;
    }
}

.tabela-hover {
    background: #cccccc;

    input {
        background: #cccccc;
    }
}

.linha-tabela {
    text-align: center;
    vertical-align: middle;
}

.input-select-custom {
    -webkit-appearance: none; /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    background: url(../../../../assets/img/seta.png) no-repeat right $cor-fundo;
    width: 50px;
    height: 30px;
    border: 1px solid $cor-fundo;
}

.rodape-grupo {
    padding-top: 0.3em;
    background: $cor-grupo;
    color: white;
    font-weight: bold;
    height: 2.5em;
}

.tabela-grupo-atividade {
    margin: 0;
}
