<div class="painel">
    <div align="center" class="titulo-grupo-tabela">
        <h4>Anexos</h4>
    </div>
    <div class="corpo-anexo">
        <div class="row">
            <div class="col col-6">
                <label>Selecionar Arquivo</label>
                <div class="custom-file">
                    <input
                        #inputFile
                        (change)="selecionarArquivo(inputFile, label)"
                        class="custom-file-input"
                        id="customFile"
                        type="file"
                    >
                    <label #label class="custom-file-label" for="customFile"></label>
                </div>
            </div>
            <div class="col col-6">
                <label>Descrição complementar</label>
                <input #inputComplemento class="form-control" type="text">
            </div>
        </div>
        <br>
        <div>
            <button (click)="adicionarAnexo(label, inputComplemento, inputFile)" class="btn btn-success btn-sm btn-ptd-anexo "
                    type="button">
                Adicionar
            </button>
        </div>
        <br>
        <div>
            <table class="table table-striped table-bordered table-condensed table-responsive-sm table-light">
                <thead class="color-cabecalho-tabela">
                <tr>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Descrição Complementar</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let anexo of planoDeTrabalho?.anexoPITList">
                    <td>{{ anexo.nome }}</td>
                    <td>{{ anexo.descricao }}</td>
                    <td>
                        <button (click)="removerAnexo(anexo)" class="btn btn-danger btn-sm btn-ptd"
                                type="button">Excluir
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
