$cor-grupo: #486076;
$tabela: #607b93;

.titulo-grupo-tabela {
    background: $cor-grupo;
    color: white;
    padding: 5px;
}

.painel {
    min-height: 30em;
    background-color: #dadddf;
    border-radius: 0.6em;
}

.corpo-anexo {
    padding: 10px;
    margin-top: 10px;
}

.color-cabecalho-tabela {
    background: $tabela;
    color: white;
}
