
#circulo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    outline: none;
    padding-top: 0.5em;
    padding-bottom: 3.0em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    border: 2px solid #102021;
}

.hora-ok {
    background-color: #9ddcae;
}

.hora-incompleto {
    background-color: #dcc66c;
}

#label-flutuante {
    font-size: 8pt;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.3em;
    text-transform: uppercase;
}

#carga-horaria-total {
    margin-top: -0.3em;
    font-weight: bold;
}

.img-botao {
    width: 1em;
    padding: 0;
    margin: 0;
}

.botao-nav {
    width: 3em;
    margin: 0.2em;
}

.botao-selecionado {
    background-color: #607b93;
    border-color: #607b93;
}

.corpo-pit {
    margin: 20px 40px 20px 40px;
}
