<div *ngIf="grupoAtividadeList !== undefined" class="corpo-pit">
    <p-toast></p-toast>
    <div class="row">
        <div align="center" class="col col-12">
            <button
                (click)="exibirServidorPainel()" [ngClass]="painelVisivel == 'servidor'? 'botao-selecionado' : ''" class="btn btn-secondary botao-nav" data-placement="top"
                data-toggle="tooltip"
                title="Dados do Servidor"
            >
                <img alt="imagem usuario" class="img-botao" src="../../../assets/img/usuario.png">
            </button>
            <button
                (click)="alterarGrupo(grupo)"
                *ngFor="let grupo of grupoAtividadeList"
                [ngClass]="grupo?.ordem  === grupoAtividadeAtivo.ordem && painelVisivel == 'atividades' ? 'botao-selecionado' : ''" [title]="grupo.descricao" class="btn btn-secondary botao-nav" data-placement="top"
                data-toggle="tooltip"
            >
                {{grupo?.ordem}}
            </button>
            <button
                (click)="exibirJustificativa()" [ngClass]="painelVisivel == 'justificativa'? 'botao-selecionado' : ''" class="btn btn-secondary botao-nav" data-placement="top"
                data-toggle="tooltip"
                title="Justificativas"
            >
                5
            </button>
            <button
                (click)="exibirAnexo()" [ngClass]="painelVisivel == 'anexo'? 'botao-selecionado' : ''" class="btn btn-secondary botao-nav" data-placement="top"
                data-toggle="tooltip"
                title="Justificativas"
            >
                6
            </button>
            <button (click)="enviarPlanoTrabalho()" class="btn btn-primary">Salvar</button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <pit-grupo-atividade
                (atualizarCargaHorariaGeral)="atualizarCargaHorariaGeral()"
                *ngIf="painelVisivel == 'atividades'"
                [grupoAtividade]="grupoAtividadeAtivo"
            >
            </pit-grupo-atividade>
            <pit-servidor-view
                *ngIf="painelVisivel == 'servidor'">
            </pit-servidor-view>
            <pit-justificativa-view
                *ngIf="painelVisivel == 'justificativa'"
                [cursos]="cursos"
                [planoDeTrabalho]="planoDeTrabalho"
            >
            </pit-justificativa-view>
            <pit-anexo
                *ngIf="painelVisivel == 'anexo'"
                [planoDeTrabalho]="planoDeTrabalho">
            </pit-anexo>
        </div>
    </div>
    <div [ngClass]="isCargaHorariaCompleta() === true ? 'hora-ok' : 'hora-incompleto'" class="fluid" id="circulo">
        <span id="label-flutuante">CH Total</span><br>
        <div align="center" id="carga-horaria-total">
            <span style="text-align: center;">{{cargaHorariaTotalGeral}}</span>
        </div>
    </div>
</div>
<div *ngIf="grupoAtividadeList === undefined">
    <div class="container">
        <pit-loading align="center"></pit-loading>
    </div>
</div>
