<p-toast></p-toast>
<br>
<br>
<div class="formulario">
    <div class="row">
        <div class="col col-4">


                <button (click)="gerar()" class="btn btn-success btn-sm">Gerar</button>


        </div>
    </div>
</div>
