<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="disciplinaForm">
                <label>Descrição</label>
                <input class="form-control" formControlName="descricao" type="text"><br>
                <label>Carga Horária</label>
                <input class="form-control" formControlName="cargaHoraria" type="text"><br>
                <label>Número de Aulas Semanais</label>
                <input class="form-control" formControlName="numAulaSemanal" type="text"><br>
                <label>Período</label>
                <input class="form-control" formControlName="periodo" type="text"><br>
                <label>Curso</label>
                <select class="form-control" formControlName="curso">
                    <option *ngFor="let item of cursos" [value]="item.id">{{item.descricao}}</option>
                </select><br>
                <button (click)="salvar()" class="btn btn-success btn-sm">Salvar</button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm">Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-disciplina">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Carga Horária</th>
                    <th scope="col">Número de Aulas Semanais</th>
                    <th scope="col">Período</th>
                    <th scope="col">Curso</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dis of disciplinas">
                    <td>{{ dis.descricao }}</td>
                    <td>{{ dis.cargaHoraria }}</td>
                    <td>{{ dis.numAulaSemanal}}</td>
                    <td>{{ dis.periodo}}</td>
                    <td>{{ dis.curso.descricao }}</td>
                    <td align="center">
                        <button (click)="editar(dis)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(dis)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)" [rowsPerPageOptions]="[5,15,20]" [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas">
            </p-paginator>
        </div>
    </div>
</div>
