$cor-grupo: #486076;
$tabela: #607b93;

.corpo-formulario {
    background: #fef9ff;
    border-radius: 15px;
}

.atividade {
    padding: 10px;
    margin-top: 10px;
}

.color-cabecalho-tabela {
    background: $tabela;
    color: white;
}

.largura-media {
    min-width: 20px;
}

.titulo-atividade {
    text-align: center;
}

.btn-ptd {
    margin: 3px;
}

.opcoes {
    margin-left: 5px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}


