<div *ngIf="planoDeTrabalho != undefined" class="atividade">
    <div [formGroup]="formulario" class="form-group">
        <h5 class="titulo-atividade">Regência as Aulas</h5>
        <hr>
        <div *ngIf="cursos != undefined" class="row">
            <div class="col-12 col-md-4 col-sm-4">
                <label>Curso</label>
                <select (change)="atualizaDisciplinas()" class="form-control" formControlName="inputCurso">
                    <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.descricao}} </option>
                </select>
            </div>
            <div class="col-12 col-md-4 col-sm-4">
                <label>Disciplina</label>
                <select class="form-control" formControlName="inputDisciplina">
                    <option *ngFor="let disciplina of disciplinas"
                            [value]="disciplina.id">{{disciplina.descricao}}</option>
                </select>
            </div>
            <div class="col-6 col-md-4 col-sm-6 col-lg-2">
                <label>Turma</label>
                <input class="form-control" formControlName="inputTurma" type="text">
            </div>
            <div class="col-6 col-md-4 col-sm-6 col-lg-2">
                <label>Aulas</label>
                <input class="form-control" formControlName="inputAulas" type="text">
            </div>
        </div>
    </div>
    <div>
        <button (click)="adicionarAtividadeEnsino()" class="btn btn-success btn-sm btn-ptd" type="button">
            Adicionar
        </button>
    </div>
    <br>
    <div>
        <table
            class="table table-striped table-bordered table-hover table-condensed table-responsive-sm table-light">
            <thead class="color-cabecalho-tabela">
            <tr>
                <th>Disciplina</th>
                <th>Curso</th>
                <th>Turma</th>
                <th>Aulas</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let justificativaEnsino of planoDeTrabalho.justificativaEnsinoList">
                <td>{{justificativaEnsino.curso}}</td>
                <td>{{justificativaEnsino.disciplina.descricao}}</td>
                <td>{{justificativaEnsino.turma}}</td>
                <td>{{justificativaEnsino.aulas}}</td>
                <td>
                    <button (click)="removerAtividade(justificativaEnsino)" class="btn btn-danger btn-sm btn-ptd"
                            type="button">Excluir
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
