@import "../../../assets/scss/variaveis";

.login {
    padding-top: 4rem;
}

.login input {
    margin-bottom: 15px;
}

.corpo-login {
    border: 1px solid #c1bcbc;
    border-radius: 5px;
    background-color: rgba(242, 237, 237, 0.37);
    box-shadow: 3px 3px 3px rgba(75, 75, 75, 0.29);
}

@import url('https://fonts.googleapis.com/css?family=Orbitron:500&display=swap');

.titulo {
    margin-left: -15px;
    align-content: center;
    text-align: center;
    border-radius: 5px 5px 0 0;
    height: 2.5em;
    margin-right: -15px;
    background-image: linear-gradient(-90deg, $cor-ui, $cor-secundaria);
    padding-top: 0.5em;
    font-size: 16pt;
    font-family: "Orbitron", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
}

.form-login {
    padding: 30px;
}

.botao-login {
    background-color: #408ab4;
    color: white;
}

.btn:hover {
    background-color: #346a8e;
}
