<section class="login container">
    <div class="row justify-content-center">
        <div class="corpo-login col col-10 col-sm-12 col-md-4">
            <div class="titulo ">Login</div>
            <div class="form-login">
                <p align="center">Por favor, efetue o login para continuar</p>

                <form [formGroup]="loginForm">
                    <input class="form-control" formControlName="login" placeholder="Login" type="text">
                    <input class="form-control" formControlName="senha" placeholder="Senha" type="password">
                </form>
                <button (click)="login()" class="btn btn-block btn-flat botao-login"
                        type="submit">Entrar
                </button>
            </div>
        </div>
    </div>
</section>
