<div>
    <div class="painel-servidor">
        <div class="conteudo-painel-servidor">
            <div class="row">
                <div align="center" class="col col-12 dados-servidor">
                    <span>{{ usuario?.nome }}</span><br><br>
                    <span class="titulo-dado">Matricula SIAPE</span><br>
                    <span>{{ usuario?.matriculaSiape }} </span><br>
                    <span class="titulo-dado">Email</span><br>
                    <span>{{ usuario?.email }} </span><br>
                    <span class="titulo-dado">Telefone</span><br>
                    <span>{{ usuario?.fone }} </span><br>
                    <span class="titulo-dado">Regime de trabalho</span><br>
                    <span> Quarenta horas</span><br>
                    <span class="titulo-dado">Tipo de Vinculo</span><br>
                    <span> Efetivo </span><br>
                    <span class="titulo-dado">Grupo de Regência de Aulas</span><br>
                    <span>Docente com regime de trabalho de 40 (quarenta) horas semanais </span>
                </div>
            </div>
        </div>
    </div>
</div>
