
.painel-servidor {
    min-height: 30em;
    background-color: #dadddf;
    border-radius: 0.6em;
}

.redondo {
    border-radius: 50em;
}

.dados-servidor {
    font-size: 1em;
    margin-bottom: 1em;
}

.titulo-dado {
    font-weight: bold;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.conteudo-painel-servidor {
    padding-top: 2.5em;
}
