<p-toast></p-toast>
<div class="formulario">
    <div class="row">
        <div class="col col-4">
            <form [formGroup]="departamentoForm">
                <label for="descricao">Descrição</label>
                <input class="form-control" formControlName="descricao" id="descricao" type="text"><br>
                <label for="sigla">Sigla</label>
                <input class="form-control" formControlName="sigla" id="sigla" type="text"><br>
                <label for="campus">Campus</label>
                <select class="form-control" formControlName="campus" id="campus">
                    <option *ngFor="let campus of campusList" [ngValue]="campus">{{ campus.nome }}</option>
                </select>
                <br>
                <button (click)="salvar()" [disabled]="!departamentoForm.valid" class="btn btn-success btn-sm"> Salvar
                </button>
                &nbsp;<button (click)="resetarEdicao()" class="btn btn-danger btn-sm"> Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-4">
            <input [(ngModel)]="descricaoBusca" class="form-control" placeholder="Descrição" type="text">
        </div>
        <div class="col col-1">
            <button (click)="buscarDados()" class="btn btn-sm btn-primary botao-pit" id="botao-busca">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered table-hover table-responsive-sm mb-0 tabela-departamento">
                <thead class="cabecalho-tabela">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Campus</th>
                    <th class="col-acoes" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dep of departamentos">
                    <td>{{ dep.descricao }}</td>
                    <td>{{ dep.sigla }}</td>
                    <td>{{ dep.campus.nome }}</td>
                    <td align="center">
                        <button (click)="editar(dep)" class="btn btn-warning btn-sm botao-pit">Editar</button>
                        <button (click)="excluir(dep)" class="btn btn-danger btn-sm botao-pit">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator (onPageChange)="paginar($event)"
                         [rowsPerPageOptions]="[5,15,20]"
                         [rows]="linhasPorPagina"
                         [totalRecords]="qtdLinhas"
            >
            </p-paginator>
        </div>
    </div>
</div>
