<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark topo">
        <button aria-controls="barra-nav" aria-expanded="false" aria-label="Alterna navegação" class="navbar-toggler"
                data-target="#barra-nav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" style="color: white" (click)="irParaHome()">PIT</a>

        <div class="collapse navbar-collapse justify-content-end" id="barra-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" (click)="irParaHome()">Home <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="irParaHome()">Link</a>
                </li>
                <li class="nav-item">
                    <a (click)="sair()" class="nav-link" routerLink="/login">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
