/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import 'assets/scss/variaveis';
@import 'assets/scss/primeng-vars';

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.botao-pit {
    margin-left: 0.2em;
}

form > input.ng-invalid.ng-touched {
    border: 1px solid #ff654b;
}

form > input.ng-valid.ng-touched {
    border: 1px solid #368048;
}

.corpo-app {
    min-height: 100%;
    background-color: $cor-fundo;
}
