<div [class.has-error]="hasError()" [class.has-success]="hasSuccess()"
     class="form-group">
    <ng-content></ng-content>
    <span *ngIf="showTip && hasSuccess()" class="help-block">Ok</span>
    <span *ngIf="showTip && hasError()" class="help-block">{{errorMessage}}</span>
</div>
