@import '../../../../assets/scss/variaveis';

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .50s ease-out;
    -moz-transition: margin .50s ease-out;
    -o-transition: margin .50s ease-out;
    transition: margin .50s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.seta {
    display: inline;

}

.seta:hover {
    cursor: Pointer;
}

.barra-superior {
    width: 100%;
    padding-left: 0.25rem;
    padding-bottom: 0.800rem;
    padding-top: 0.800rem;
    background-color: #e3dede;
}

#titulo-gestao {
    display: inline;
    margin-bottom: -0.200rem;
    margin-left: 1.3rem;
    font-weight: bold;
    color: $cor-titulo-adm;
}

.titulo-painel-adm {
    display: inline;
}

.realce {
    color: #5c5757 !important;
    font-weight: bold;
}

.titulo-gestao {
    font-weight: bold;
}
