<div [ngClass]="classe" class="d-flex corpo-gestao" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading titulo-gestao">
            Gestão
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="dashbord"
               routerLinkActive="realce">Dashboard</a>
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="departamento"
               routerLinkActive="realce">Departamento</a>
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="servidor"
               routerLinkActive="realce">Servidor</a>
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="categoria"
               routerLinkActive="realce">Categoria Atividade</a>

            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="usuario"
               routerLinkActive="realce">Usuario</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="curso"
               routerLinkActive="realce">Curso</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="disciplina"
               routerLinkActive="realce">Disciplina</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="atividade"
               routerLinkActive="realce">Atividade</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="grupo-atividade"
               routerLinkActive="realce">Grupo Atividade</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="campus"
               routerLinkActive="realce">Campus</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="" routerLink="avaliador"
               routerLinkActive="avaliador">Avaliador</a>
        </div>
        <div class="list-group list-group-flush">
            <a href="" class="list-group-item list-group-item-action bg-light" routerLink="relatorios"
               routerLinkActive="realce">Relatorios</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="barra-superior">
            <div class="seta">
                <img
                    (click)="alternar()"
                    [@rotatedState]="state" alt="seta"
                    src="../../../../assets/img/seta-recolher.png"
                />
            </div>
            <div class="titulo-painel-adm">
                <h5 id="titulo-gestao"></h5>
            </div>
        </div>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
